.field {
	background-color: #F5FAFC;
	width: 800px;
	height: 600px;
	border-radius: 3px;
	box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
	margin: 50px auto;
	border: 20px white solid;
	position: relative;
}
.bb8 {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 222px;
  left: 180px ;
}

.bodyBB8 {
	width: 200px;
	height: 200px;
	background: #EBF2FA;
	position: absolute;
	border-radius: 50%;
	border: solid 8px #244356;
	overflow: hidden;
}
.circle {
	width: 120px;
	height: 120px;
	border: solid 8px #244356;
	background-color: #FDC23E;
	border-radius: 50%;
	position: absolute; 
	top: -46px;
    left: -15px;
}
.circle::after {
    content: '';
    display: block;
    border: 8px solid #244356;
    background: #EBF2FA;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 35%;
}
.circle.circle-1 {
	top: 42px;
	left: 138px;
}
.circle.circle-2 {
	display:none;
}
.circle.circle-3 {
	height: 300px;
	width: 300px;
	top: 165px;
	left: -135px;
}
.dot {
	width: 20px;
	height: 20px;
	background-color: #244356;
	border-radius: 50%;
	position: absolute;
	top: 174px;
    left: 133px;
}
.dot.dot1 {
    top: 137px;
    left: 53px;
}
.bellyLine {
    height: 5px;
    width: 55px;
    background-color: #244356;
    position: absolute;
    transform: rotate(84deg);
    top: 140px;
    left: 5px;
}
.bellyLine.line-2 {
    top: 190px;
    left: 127px;
    transform: rotate(-50deg);
    width: 66px;
}
.bellyLine.line-3 {
    top: 73px;
    left: 119px;
    transform: rotate(20deg);
    width: 32px;
}
.box-shadow {
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 50%;
    border: solid 8px #244356;
    overflow: hidden;
    right: -16px;
    top: -8px;
}
.shadowCrop {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.4);
    left: -31px;
    top: -21px;
}
.headBB8 {
	width: 160px;
    height: 80px;
    position: absolute;
    background: #EBF2FA;
    border: solid 8px #244356;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transform: rotate(-30deg);
    top: -50px;
    left: -46px;
}
.box-shadow-head {
	width: 160px;
    height: 80px;
    position: absolute;
    border: solid 8px #244356;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    overflow: hidden;
    top: -8px;
    left: -8px;
}
.shadowCropHead {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.4);
    left: -22px;
    top: -5px;
}
.lens {
	width: 45px;
    height: 45px;
    position: absolute;
    background: #295A6D;
    border-radius: 50%;
    border: solid 8px #244356;
    overflow: hidden;
    top: 10px;
    left: 50px;
}
.lens::after {
    content: '';
    width: 60px;
    height: 7px;
    background: #2A6B80;
    position: absolute;
    top: 18px;
    left: -18px;
    transform: rotate(-50deg);
}
.lens::before {
    content: '';
    width: 60px;
    height: 12px;
    background: #2A6B80;
    position: absolute;
    top: 18px;
    left: 6px;
    transform: rotate(-50deg);
}
.dotHead {
	width: 15px;
    height: 15px;
    background-color: #244356;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    left: 115px;
}
.ground {
	height: 8px;
    width: 450px;
    position: absolute;
    background: #244356;
    border-radius: 8px;
    top: 430px;
    left: 120px;
}
.speedLines {
    height: 8px;
    width: 45px;
    position: absolute;
    background: #244356;
    border-radius: 8px;
    top: -54px;
    left: 75px;
}
.speedLines::after {
	content: '';
    height: 8px;
    width: 20px;
    position: absolute;
    background: #244356;
    border-radius: 8px;
    top: 0px;
    left: 50px;
}
.speedLines.sline-2 {
	top: -17px;
	left: 130px;
}
.speedLines.sline-3 {
	top: 120px;
	left: 200px;
}
.sparkleBox {
	width: 50%;
    height: 50%;
    position: absolute;
    top: 215px;
    left: 215px;
}
.sparkle::after {
	content: '';
	width:20px;
	height: 10px;
	position: absolute;
	border-radius: 10px;
	background: #FF7761;
}
.sparkle::before {
	content: '';
	width:20px;
	height: 10px;
	position: absolute;
	border-radius: 10px;
	background: #FF7761;
	transform: rotate(90deg);
}
.yellow.sparkle::after, .yellow.sparkle::before {
	background: #fdc23e;
}
.red.sparkle::after, .red.sparkle::before {
	background: #ff7761;
}
.blue.sparkle::after, .blue.sparkle::before {
	background: #449baa;
}
.orange.sparkle::after, .orange.sparkle::before {
	background: #fd963e;
}
.md {
	transform: scale(0.6);
}
.sm {
	transform: scale(0.6);
}
.one {
	position: absolute;
	top: -53px;
    left: 140px;
}
.two {
	position: absolute;
	top: -46px;
    left: 210px;
}
.three {
	position: absolute;
	top: -6px;
    left: 186px;
}
.four {
	position: absolute;
	top: -16px;
    left: 280px;
}
.five {
	position: absolute;
	top: 44px;
    left: 230px;
}
.six {
	position: absolute;
	top: 94px;
    left: 240px;
}
.seven {
	position: absolute;
	top: 154px;
    left: 216px;
}
.eight {
	position: absolute;
	top: 187px;
    left: 185px;
}
.nine {
	position: absolute;
	top: 63px;
    left: 325px;
}
.ten {
	position: absolute;
	top: 124px;
    left: 315px;
}
.eleven {
	position: absolute;
	top: 161px;
    left: 294px;
}
.twelve {
	position: absolute;
	top: 27px;
    left: 366px;
}
.thirteen {
	position: absolute;
	top: 37px;
    left: 415px;
}
.fourteen {
	position: absolute;
	top: 87px;
    left: 385px;
}
.fifteen {
	position: absolute;
	top: 137px;
    left: 378px;
}
.sixteen {
	position: absolute;
	top: 97px;
    left: 455px;
}
